{% extends 'AppBundle::layout.html.twig' %}

{% set nav = 'personal' %}
{% set sub_nav = 'interest' %}


{% block content_header %}
    <h1>个人信息管理</h1>
{% endblock %}

{% block content_body_boxed %}
    <ul class="nav nav-tabs">
        <li class="{% if type == 'interest' %}active {% endif %} ">
            <a href="{{ path('personal', {type :'interest'}) }}">兴趣爱好</a>
        </li>
        <li class="{% if type == 'data' %}active {% endif %}">
            <a href="{{ path('personal', {type :'data'}) }}">个人资料</a>
        </li>
    </ul>

    <div class="box-body">
        <form action="{{ path('personal', {type :type}) }}" method="post">
            <div class="form-group ">
                <label>姓名</label>
                <input type="text" class="form-control" placeholder="" id="name" name="name" value="{{ user.name|default('') }}">
            </div>
            <div class="form-group ">
                <label>性别</label>
                <input type="text" class="form-control" placeholder="" id="sex" name="sex" value="{{ user.sex|default('') }}">
            </div>
            <div class="form-group ">
                <label>专业</label>
                <input type="text" class="form-control" placeholder="" id="profession" name="profession" value="{{ user.profession|default('') }}">
            </div>
            <div class="form-group ">
                <label>籍贯</label>
                <input type="text" class="form-control" placeholder="" id="hometown" name="hometown" value="{{ user.hometown|default('') }}">
            </div>

            <div class="btn-area">
                <button type='submit' class="btn btn-info">保存</button>
            </div>
        </form>
    </div>

{% endblock %}