{% extends 'AppBundle:Community:layout.html.twig' %}

{% set nav = 'community' %}
{% set sub_nav = 'activity' %}


{% block content_header %}
    <h1>活动管理</h1>
{% endblock %}


{% block content_body_boxed %}
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="well well-sm mtm">
                <form id="table-filter-form" class="form-inline" method="get">
                    <div class="form-group">
                        <input class="form-control input-sm" type="text" placeholder="搜索关键字" name="keyword" value=""
                               style="width: 240px;">
                    </div>
                    <button class="btn btn-primary btn-sm">搜索</button>
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"
                       style="margin-left: 13px"
                       data-url="{{ path('community_activity_add', {communityId: communityId }) }}">添加</a>
                </form>
            </div>
            {% for active in actives %}
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="active tab-pane" id="activity">
                            <!-- Post -->
                            <div class="post">
                                <div class="user-block">
                                <span class="username">
                                  <a href="#">{{ active.name}}</a>
                                </span>
                                    <span class="description">{{ active.community.name }}</span>
                                </div>
                                <!-- /.user-block -->
                                <p>
                                    {{ active.info }}
                                </p>
                            </div>
                            <!-- /.post -->
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            {% endfor %}
            {{ macro.paginator(paginator) }}

            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}
