{% extends 'AppBundle::layout.html.twig' %}

{% set nav = 'community' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/community/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_body %}
    <ul class="nav nav-tabs" role="tablist">
        <li {% if category == 'video' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'video'}) }}">影视科技类社团</a></li>
        <li {% if category == 'sports' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'sports'}) }}">运动类社团</a></li>
        <li {% if category == 'literature' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'literature'}) }}">文学类社团</a></li>
        <li {% if category == 'personnel' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'personnel'}) }}">人才类社团</a></li>
        <li {% if category == 'music' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'music'}) }}">音乐舞蹈类社团</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        {% for community in communitys %}
            <div class="col-md-4">
                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <a class="widget-user-username" href="{{ path('community_member' ,{communityId:community.id   }) }}">{{ community.name }}</a>
                        <h5 class="widget-user-desc">{{ community.create_time |date('Y-m-d H:i:s') }}</h5>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">3,200</h5>
                                    <span class="description-text">SALES</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">13,000</h5>
                                    <span class="description-text">FOLLOWERS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4">
                                <div class="description-block">
                                    <h5 class="description-header">35</h5>
                                    <span class="description-text">PRODUCTS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}