{% extends 'AppBundle::layout.html.twig' %}

{% set nav = 'community' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/community/index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content_body %}
    <div class="box">
    <div class="box-header with-border">
    <ul class="nav nav-tabs" role="tablist">
        <li {% if category == 'video' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'video'}) }}">影视科技类社团</a></li>
        <li {% if category == 'sports' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'sports'}) }}">运动类社团</a></li>
        <li {% if category == 'literature' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'literature'}) }}">文学类社团</a></li>
        <li {% if category == 'personnel' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'personnel'}) }}">人才类社团</a></li>
        <li {% if category == 'music' %} class="active"{% endif %}><a
                    href="{{ path('community', {category: 'music'}) }}">音乐舞蹈类社团</a></li>
        <div class="btn-area">
            <a class="btn btn-info" data-toggle="modal" data-target="#modal" data-url="{{ path('community_add') }}">添加社团</a>
        </div>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pa active" id="tv" style="margin-top: 20px;">
            {% for community in communitys %}
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-gray">
                            <div class="inner">
                                <h4><a href="{{ path('community_member', {communityId:community.id}) }}">{{ community.name }}</a></h4>

                                <p>{{ community.principal  }}</p>
                            </div>
                            <a href="{{ path('community_member', {communityId:community.id}) }}" class="small-box-footer">
                                更多 <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
            {% endfor %}
            {{ macro.paginator(paginator) }}
        </div>
    </div>
    </div></div>
{% endblock %}