{% extends 'AppBundle:Community:layout.html.twig' %}

{% set nav = 'community' %}
{% set sub_nav = 'money' %}

{% block content_header %}
    <h1>经费管理</h1>
{% endblock %}

{% block content_body_boxed %}
    <ul class="nav nav-tabs">
        <li class="{% if type == 'in' %}active {% endif %} ">
            <a href="{{ path('community_money', {type :'in',communityId:communityId}) }}">经费收入</a>
        </li>
        <li class="{% if type == 'out' %}active {% endif %}">
            <a href="{{ path('community_money', {type :'out',communityId:communityId}) }}">经费支出</a>
        </li>
        {% if type == 'in' %}
            <div class="btn-area">
                <a class="btn btn-info" data-toggle="modal" data-target="#modal"
                   data-url="{{ path('community_money_add', {communityId:communityId, type:type}) }}">添加收入</a>
            </div>
        {% elseif type == 'out' %}
            <div class="btn-area">
                <a class="btn btn-info" data-toggle="modal" data-target="#modal"
                   data-url="{{ path('community_money_add', {communityId:communityId, type:type}) }}">添加支出</a>
            </div>
        {% endif %}

    </ul>

    <div class="row">
        <div class="box-header">
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        {% if type == 'in' %}
                            <th>来源</th>
                        {% elseif type == 'out' %}
                            <th>去向</th>
                        {% endif %}
                        <th>金额</th>
                        <th>参与人员</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for money in moneys %}
                        <tr>
                            <td>{{ money.info }}</td>
                            <td>{{ money.number }}</td>
                            <td>{{ money.community_member }}</td>
                            <td>{{ money.created_time | date('Y-m-d H:i:s') }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"
                                        data-url="{{ path('community_money_edit', {communityId:communityId, type:type, id:money.id}) }}">编辑</button>
                                <button type="button" class="btn btn-danger">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {{ macro.paginator(paginator) }}
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
{% endblock %}