
{% extends 'AppBundle:newPage:newPage.html.twig' %}

 {%- block bannerMiddle-%}


<div class="banner-middle">
    <div class="strip"></div>

    <!-- banner-bottom-grids -->
    <div class="banner-bottom-grids">
        <!-- banner-bottom-left -->
        <div class="col-md-8 banner-bottom-left">
            <div class="banner-bottom-left-grids">
                <div class="banner-left-grid lifestyle-left-grid">
                    <a href="#"><img src="{{ asset('AppBundles/image/img1.jpg') }}" alt=""/></a>
                    <p>呓语</p>
                    <p class="text">西风卷帘笑落花,低吟浅唱泻芳华。日出东海落西山，兰溪幽悠浣流沙。梦逐天涯。风吹雨成花。岁月蒸发，掌心的梦匣。浮尘轻抹，渡过春秋冬夏。<br>
                        朝暮踏歌，悲欢离合。了搓跎，花开风过，一步一岁末。潺潺地淌过岁月之河。日子轻轻的在指间跌落......
                        ...</p>
                    <div class="more">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Read More
                        </button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">呓语</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="text-indent:2em;">
                                            西风卷帘笑落花,低吟浅唱泻芳华。日出东海落西山，兰溪幽悠浣流沙。梦逐天涯。风吹雨成花。岁月蒸发，掌心的梦匣。浮尘轻抹，渡过春秋冬夏。<br/>
                                            　　
                                            朝暮踏歌，悲欢离合了搓跎，花开风过，一步一岁末。潺潺地淌过岁月之河。日子轻轻的在指间跌落。挥一挥衣袖，以作别天边的云朵。时光无涯，聚散有时。告别昨日，走入下一个季节的轮回。时光赋于我们以壮丽感，日历又是新的一天，又是新的一年。路总在延长，梦总在前方，行云流水的光影，绵延，绵延。<br/>
                                            　　
                                            往事是用来回忆的，幸福是用来感受的，伤痛是用来成长的。人生亦如月之缺，如玉之磨，历练了便懂得了。成孰是由两部分组成；一半是对美好的追求，一半是对残缺的接纳。时间让深的东西更深，浅的东西更浅，<br/>
                                            　　
                                            斜阳照孤影，风雨踏归程。饱蘸温婉，凝神回眸，重温来时的风景，重拾踏过的泥泞。那些或甜蜜幸福，或苦涩无奈的过往，失意或悲伤，就像一颗颗透明的水晶，悄悄的收藏在那个叫做“记忆”的盒子里。当想起某些人和某些事时，这个记忆之盒就会开启。山水一程，风雪一程，杂夹着酸甜苦辣的心境，让心在繁华过尽，依然温润如初。带上从容，引领着我们完成一次心灵净化的旅程。回首是一种空灵的妙境。<br/>
                                            　　
                                            岁月静好，现世安稳，懂得就是慈悲，张爱玲的话语是如此的蕴籍暖意，欢喜这样的话，因了她的这句呓语，便是女子的临花照水人。潋滟红尘，只是婉惜她所要的现世安稳，却如水中月，镜中花。张爱玲，一个只能远观的女子，一个在光影里将孤独诠释得透彻的女子，简单自持，心似兰草，风华绝代，低到尘埃里也要开出花来的女子；清绝、冷傲如霜，才华横溢，沧海月明，舞尽芳华。如花美眷，终是敌不过似水流年。<br/>
                                            　　
                                            光阴，到底是什么？它似琴弦，弹拨过往的故事。人世的冷暖，皆付诸琴弦之上。欣赏白落梅的散文。她说；不悲，不喜，才是素养高超的抚琴者，是能超然于弦外之音，是能达到物我相忘的境界，曾几时，做那个焚琴煮鹤的人，让人生风景匆匆擦肩，也曾风雅无边，竟不知何时心意阑珊，如此尘埃落定，不是为了忘记谁，亦不是为了记住谁。只是心中那根弦，被岁月风蚀，早以弹不出，清澈曼妙之音，也许放下我执，那琴，那弦，可以回归昨日的安静和悠远。果是落梅风骨，秋水文章。雅致之极。情愫静脉，自知自觉。也许，我们该做那个淡然的抚琴者。不分季节，不问悲欢，与渺渺山河中，弹奏古调，修心养性，笑傲风月瘦如刀，我自横刀向天笑，如此是逍遥。<br/>
                                            　　
                                            霜月清朗，水寒临江，皑皑浩荡，归雁晓啼北风凉，煮字生香，心灵遨翔，字里行间把快乐悲伤分享，独在驿站小酌一场。墨香濡染，弱水三千这一瓢是心灵归航。诗意芬芳，百媚千娇绽放。呓语深婉悠扬。天老地荒，相伴鬓角染霜，三山五岳诉衷肠，青梅花香，落定情长。红尘万丈，物我相忘，守望人生匆匆过往。<br/>
                                            　　
                                            岁月静好，现世安稳，流水渡月，梅花人醉，摆渡在尘世。</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-left-grid lifestyle-left-grid">
                    <a href="#"><img src="{{ asset('AppBundles/image/img2.jpg') }}" alt=""/></a>

                    <p class="text">
                        总是在回眸之间，才想留住你脸上那一抹微笑，也才知道那熟悉的浪漫，其实每天都在我的生活中展现。突然觉得自己好像错过了命运对我的恩惠，准确的说不是好像，是肯定……美好的只属于回忆，现实的却总是残缺，离我们的憧憬总是存在一定的距离
                        ...</p>
                    <div class="more">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModa2">
                            Read More
                        </button>
                        <div class="modal fade" id="myModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">美在回眸之间</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="text-indent:2em;">
                                            总是在回眸之间，才想留住你脸上那一抹微笑，也才知道那熟悉的浪漫，其实每天都在我的生活中展现。突然觉得自己好像错过了命运对我的恩惠，准确的说不是好像，是肯定……美好的只属于回忆，现实的却总是残缺，离我们的憧憬总是存在一定的距离，当我们在无数个转身的刹那，都有一款美被埋葬在心田。<br/>

                                            古人有：“晓风破月圆，举樽愁万千，去事成惆怅，迷离向月仙。”“天上寒宫凄凉，嫦娥靓丽眺宫墙；地上骚客微恙，举杯消愁愁更长。”好一份令人向往的美丽妖娆，可惜只能存在于无尽的遐想，实质化的美总是丑的。那份美丽的期盼，总是在心底的最深处，无法洋溢于表面。<br/>

                                            柳叶眉、丹凤眼、樱桃口固然是一种美；那双瞳剪水、修眉镂月、发髻裁云、鸿衣羽裳更是美若天仙。然而，词语是用来形容美而存在的，是人类的智慧，不是美的参照，不能作为一种衡量标准。真正的美是藏于民间、附于生活、融于身边的。清纯是美丽的、性感是美丽的、兰质蕙心是美丽的、德才兼备也是美丽的，美出于心，而源于意……但是，我们总是无法描述那份内心深处的归藏，因为任何语言在表现美的时候都显得那么苍白。或许是我们心灵的贪婪，总是希望那份归藏完美得毫无瑕疵。其实，世上本没有绝对的美和丑，它们之间是一种渐变，说来并不遥远，只是一线之间，却似远在天边。<br/>

                                            绿叶之美，在于那份守候，四季无情，却挡不住化泥之志；尾生之美，在于那份坚持，洪水无情，却挡不住舍身取义；子骞之美，在于那份孝义，继母无德，却挡不住仁本之孝。美存在于生活的每一个瞬间，没落于生活的每一个角落，而涅槃于断续的回忆之中。水波卷残月，杜鹃犹啼血，寒梅弃瑞雪，忠孝仁义谪。<br/>

                                            美丽的童话和典故，仁义礼智信似乎只存在于古典书籍中。然而，生活本就是一部内涵丰富的典籍，中华民族的美德无一不在这本典籍的书页中不停地演绎，只是我们的眼光被现实蒙上了一层“市侩”的光环。快节奏的生活让我们的目标可能更加明确，高效率是利润社会的必然产物，但我们却丢失了生活的本来意义。<br/>

                                            真正的美需要欣赏，需要正视，需要沉淀，更需要传承。<br/>
                                            回眸间，美流于眼角，滑于指隙，行走于芸芸众生之间，却难进你我的心田……让我们一起怀着知足的情，揣着感恩的心，抓住美丽的一瞬，留住美丽的根，出于心源于意，共同打造美丽的现代人……
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-left-grid lifestyle-left-grid">
                    <a href="#"><img src="{{ asset('AppBundles/image/img3.jpg') }}" alt=""/></a>

                    <p class="text">
                        最近看了一部影片叫《蓝色迷情》，唤起了我对海的向往。虽然自己是个平原长大的孩子，但是对海却情有独钟，因为站在海的面前，心情会无比的旷达与纯净。一泓幽蓝浩浩汤汤，仿佛卷走了尘世间所有的喧嚣与浮躁，剩下的只是心灵的跃动和神思的空灵……</p>
                    <div class="more">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModa3">
                            Read More
                        </button>
                        <div class="modal fade" id="myModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">海之恋</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p style="text-indent:2em;">
                                            最近看了一部影片叫《蓝色迷情》，唤起了我对海的向往。虽然自己是个平原长大的孩子，但是对海却情有独钟，因为站在海的面前，心情会无比的旷达与纯净。一泓幽蓝浩浩汤汤，仿佛卷走了尘世间所有的喧嚣与浮躁，剩下的只是心灵的跃动和神思的空灵……<br/>

                                            喜欢海，尤其是喜欢落日下那一汪海的宁静。感受着那份宁静，体验着那种无声的澎湃，经历着一份释怀。海的包容与博大，让所有的沧桑，都在刹那间变得风轻云淡……<br/>

                                            如果说岁月是一首歌，那么我们便是歌者，纵使孤独仍会固执高歌；如果说岁月是一段旅程，那么我们便是行者，且行且梦让生命丰盈。人生究竟有多长？流年该用怎样的深情去诠释？揽一捧海水，感知的不仅仅是沧海一粟的渺小，更是浩浩汤汤的雄浑。<br/>

                                            与海静静对望，丰盈的是梦，安恬的是心……<br/>

                                            人在旅途，有许多错过，身不由己；有许多遇见，念念不忘。一些梦想，可能会换来一身的疲惫；一些寻找，让它淡然随风，未必不是轻松。流年清浅，以海的心境去包容一切，容纳人生的喜怒哀乐，当心情飞溅若花，红尘一笑，我们领悟的何尝不是一种超然与快乐？<br/>

                                            倾听海的律动，感觉奔放的情怀；倾听自己的灵魂，感受思想的脉动。或许，简简单单才是别样的人生；或许，清清浅浅才是别样的风情；或许，悠悠远远才是别样的感动。<br/>s

                                            海纳百川，有容乃大，那就让心成为一片海，博大、深沉、宽容吧！</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-left-grid lifestyle-left-grid">
                    <a href="#"><img src="{{ asset('AppBundles/image/img4.jpg') }}" alt=""/></a>

                    <p class="text">
                        在你的沉思与歌唱里，我发现窗的曼妙和无与伦比。倚窗而立，凭窗远眺，临窗而坐，拥窗入眠，落窗凝思，一卷书，一杯茗，一首歌，是你的情怀，亦是人生欢景，那些窗内窗外的世象，或许是你于红尘中，独爱窗棱的缘故。世间有窗，总那么一点点，似有似无，开开合合，时开时闭，若开若闭，又忽明忽暗……</p>
                    <div class="more">
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModa4">
                            Read More
                        </button>
                        <div class="modal fade" id="myModa4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">谁在，把心思都赋予窗扉？</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>在你的沉思与歌唱里，我发现窗的曼妙和无与伦比。<br/>

                                            倚窗而立，凭窗远眺，临窗而坐，拥窗入眠，落窗凝思，一卷书，一杯茗，一首歌，是你的情怀，亦是人生欢景，那些窗内窗外的世象，或许是你于红尘中，独爱窗棱的缘故。<br/>

                                            世间有窗，总那么一点点，似有似无，开开合合，时开时闭，若开若闭，又忽明忽暗。<br/>

                                            然，有窗，便多了一个世界，天际流动，平添远阔，让思绪乘风飞跃，有悠悠雨巷，让你默默独行。<br/>

                                            无论晴天雨季，窗口总沉淀天光一片，窗前的景，窗外飘过四季，还有停留与闪过的心绪，无论短长，无论浓烈，飘散了，凝结了，拉长了，点点滴滴，留或不留，念或不念，那一段思忖？沉思的，凝望的，喜悦的，孤独的，怀想的，心香一片？<br/>

                                            最美莫过窗前的那个你。曾经年少，风华无欺，闲赋新愁，遥看天外，美景春光，思有挚情结伴，行有佳人相约，溪间小憩，陌上掠影，皆成风景。窗内，关不住一地遐想与喜悦，窗外，时光过驹，垂柳斜影，一簾烟雨，惊呼别无远，想世间，纵隔万水千山，不过在手指轻推，一舜间。<br/>

                                            也有沉郁，是在雨季亦或黄昏。人生挫顿，翻越的疲惫艰辛，出发的决择与迷惘，相守的困惑迷情，恰逢烟雨飘摇，斜阳西坠，旅人不归，是不是习惯扶窗守候？一个凝望，一支烟，一杯茶，一首曲，一段时光，望断天涯，飞越柳烟，独自寻觅。问世间，时空转换，景象万千，可曾识得花红一片？烟雨空濛中，何处是归时！叹胸中红尘跌宕，眼里繁华飞度，解有千千结。<br/>

                                            至若春光烂漫，窗外繁花似景，不期抱得美人归，相约偎窗前。眼中思燕飞，心里风光起，朝起晨阳暖，夕时闻花语，窗外，行云流水，何需把杯问盏？一花一草，皆成岁月美景。<br/>

                                            过往似可期，喟叹恨时短，谁在窗前舞，把心思都赋予了流年？<br/>

                                            何意求东风，窗外有四时，感时风烟起，伤心水凌波。冷暖阴晴，春红秋枯，谁能把持？<br/>

                                            凝固的成画，流走的瘦水，停下的渐渐羽化，成了亘古的离愁，演化了回肠别绪，无起无终，把一腔情思，放归天际，在时空里飞来飞去。无人点赞，不加关注，懂与不懂，说与不说，写与不写，都付予天远风清，云舒云合。<br/>

                                            没有思量，难度窗前，不到窗口，何领一夕深眷？灯下静思，看不见气象万千，恬静握卷，徐风不临。不一样的你，不一样的情，徘徊缱绻，作别西窗景。<br/>

                                            抚思妙得，总在不经意里，静静等候，如一席港弯，方寸间，堆满相思，堆满孤寂，镌刻了困惑与追寻。看四季身影变换，深浅禅语芳心，读飞霞里的心境，品唐宋风云变迁，让落霞与孤鹜，静静伫立指尖。<br/>

                                            好风窗前过，独怜窗内人，把心当作风景，把风景淡入心扉。这扇窗开得轻盈，闭得无声，没有早晚，无论朝暮，四时飞花落雨，形态万千沉浮，得失冷暖自知。<br/>

                                            情有千千，栏杆抚遍，难把思绪说尽。世人偏独爱，总是这般场景，一窗沉静，一窗剪影，半弯新月。不需空揽怀，且把思念拈成线，串在怀想的风铃，把伤痛折叠，随风放飞，一路奔走，半晌沉吟。今夜，可能再见你的身影？<br/>

                                            听见么？一路环鸣，看你在窗后，且思且行。</p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //post -->
        </div>
        <!-- //banner-bottom-left -->
        <!-- banner-bottom-right -->
        <div class="col-md-4 banner-bottom-right">
            <div class="banner-bottom-left-grids">

                <div class="advertisement">
                    <h3>book</h3><br/>
                    <img src="{{ asset('AppBundles/image/book.jpg') }}">
                </div>
                <div class="sponsors">
                    <h3>word</h3>
                    <div class="sponsors-grids">
                        <div class="sponsors-grid-left">
                            <div class="sponsors-grid">
                                <img src="{{ asset('AppBundles/image/word1.jpeg') }}">
                            </div>
                        </div>
                        <div class="sponsors-grid-left">
                            <div class="sponsors-grid">
                                <img src="{{ asset('AppBundles/image/word2.jpg') }}">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="twitter">
                    <h3>motto</h3>
                    <div class="twitter-info">
                        <p>真理惟一可靠的标准就是永远自相符合。 —— 欧文
                        </p>
                    </div>
                    <div class="twitter-info">
                        <p>世界上一成不变的东西，只有“任何事物都是在不断变化的”这条真理。 —— 斯里兰卡 </p>
                    </div>
                    <div class="twitter-info">
                        <p>人生并不像火车要通过每个站似的经过每一个生活阶段。人生总是直向前行走，从不留下什么。 —— 刘易斯</p>
                    </div>
                    <div class="twitter-info">
                        <p>将人生投于赌博的赌徒，当他们胆敢妄为的时候，对自己的力量有充分的自信，并且认为大胆的冒险是唯一的形式。 —— 茨威格</p>
                    </div>
                    <div class="twitter-info">
                        <p>理想对我来说，具有一种非凡的魅力。我的理想总是充满着生活和泥土气息。我从来都不去空想那些不可能实现的事情。 —— 奥斯特洛夫斯基</p>
                    </div>
                    <div class="twitter-info">
                        <p>我们活着不能与草木同腐，不能醉生梦死，枉度人生，要有所做为。 —— 方志敏</p>
                    </div>
                </div>
                <div class="recent-posts">
                    <h3>Recent Article</h3>
                    <ul>
                        <li><a href="http://www.tuicool.com/articles/NnaAJze">如果阿里不再是一家电商……</a></li>
                        <li><a href="http://www.tuicool.com/articles/eeQjuie">设计癖「工业设计网址导航」上线了，你想要的都能找到</a></li>
                        <li><a href="http://www.tuicool.com/articles/UreyY3">解码OpenAI：硅谷钢铁侠马斯克的人工智能野望</a></li>
                        <li><a href="http://www.tuicool.com/articles/zUfa6fi">开源、SaaS、API，谁将成为最后的赢家？</a></li>
                        <li><a href="http://www.tuicool.com/articles/FfamUfz">创业五年我学到的41堂课：赚钱真的好棒，哪怕只是稍有盈余</a></li>
                        <li><a href="http://www.tuicool.com/articles/I3ErIzu">谷歌要把硬件部门整合起来：由摩托罗拉前总裁领导</a></li>
                        <li><a href="http://www.tuicool.com/articles/mIZrq2E">一个卖小龙虾的，凭什么在资本寒冬拿到 3000 万融资？</a></li>
                        <li><a href="http://www.tuicool.com/articles/e2yqeaa">30岁前他失去了自己的心，30岁后，财富与权力与他如影随形</a></li>
                        <li><a href="http://www.tuicool.com/articles/BbUvyab">阿里巴巴加入国际反假货联盟 24家品牌不乐意了</a></li>
                        <li><a href="http://www.tuicool.com/articles/Mr6nMjy">谷歌CEO：世界将从移动端转向人工智能</a></li>
                        <li><a href="http://www.tuicool.com/articles/zuymUfj">papi酱：人不穷怎么当网红？</a></li>
                        <li><a href="http://www.tuicool.com/articles/bMzaeeb">手机系统：细节决定未来 大欢喜不如小确幸</a></li>
                        <li><a href="http://www.tuicool.com/articles/26jmiyQ">一封来自Google创始人的信</a></li>
                        <li><a href="http://www.tuicool.com/articles/QvymIr">BAT抢头条：腾讯微云将关闭文件中转站，百度高德再度开撕</a></li>
                        <li><a href="http://www.tuicool.com/articles/Urq2U3r">新人小技巧！PS里不透明度和填充有什么区别？</a></li>
                        <li><a href="http://www.tuicool.com/articles/MbuY73">小tips: 使用等空格实现最小成本中文对齐</a></li>
                        <li><a href="http://www.tuicool.com/articles/3aaIVny">怎样最短时间内成为优秀的运营人才？谈时间观念！</a></li>
                        <li><a href="http://www.tuicool.com/articles/BjqMBvE">做电商一定要懂这些运营手段</a></li>
                        <li><a href="http://www.tuicool.com/articles/aeIbmmY">最流行的编程语言 JavaScript 能做什么？</a></li>
                        <li><a href="http://www.tuicool.com/articles/IVn6NvR">百度开撕高德：高德地图日活挺高？到我们膝盖了</a></li>
                        <li><a href="http://www.tuicool.com/articles/VRRB7f">JavaScript 代码执行效率对比工具</a></li>
                        <li><a href="http://www.tuicool.com/articles/BBjE7j7">这大概是最全的短视频网红行业研究了</a></li>
                        <li><a href="http://www.tuicool.com/articles/UZfmAr">Fiddler的灵活使用</a></li>
                        <li><a href="http://www.tuicool.com/articles/zUfa6fi">外媒评50款最令人上瘾的移动App应用，竟然木有微信？</a></li>
                        <li><a href="http://www.tuicool.com/articles/7z6rm2U">离奥运会还有 99 天，微软智能机器人小冰的“预言”已先到</a></li>
                        <li><a href="http://www.tuicool.com/articles/3auIZr2">UI 设计灵感之：下拉菜单（dropmenu）</a></li>
                        <li><a href="http://www.tuicool.com/articles/zUzQr2e">另一份Java应用调优指南之－工具篇</a></li>
                        <li><a href="http://www.tuicool.com/articles/y6Bvyez">UC：浏览器？呵呵 我现在是阿里巴巴的新媒体平台</a></li>
                        <li><a href="http://www.tuicool.com/articles/3yayuuy">关于Java变量的可见性问题</a></li>
                        <li><a href="http://www.tuicool.com/articles/3mu6Rry">30岁单身女工程师告诉你一个真实不堪的硅谷，简直是文字版 Silicon
                                Valley</a></li>
                        <li><a href="http://www.tuicool.com/articles/fMBfeaI">乐视商城宣布进军汽车领域 打造生态型O2O汽车电商</a></li>
                        <li><a href="http://www.tuicool.com/articles/Q3Uf2uZ">元素选择器 - Mini Query</a></li>


                    </ul>
                </div>
            </div>
        </div>
        <!-- banner-bottom-right -->
        <div class="clearfix"></div>
        <div class="up-arrow">
            <a class="scroll" href="#home">Back to Top</a>
        </div>
    </div>
    <!-- //banner-bottom-grids -->
</div>

 {%- endblock -%}