{% extends 'AppBundle:newPage:newPage.html.twig' %}

 {%- block bannerMiddle-%}

<div class="banner-middle">
    <div class="strip"></div>

    <!-- banner-bottom-grids -->
    <div class="banner-bottom-grids">
        <!-- banner-bottom-left -->
        <div class="banner-bottom-left">
            <div class="banner-bottom-left-grids">

                {% for i in 1..8 %}
                <div class="col-md-4 banner-left-grid fullwidth-left-grid">

                    <a href="{{ asset('AppBundles/image/a') }}{{ i }}.jpg"><img src="{{ asset('AppBundles/image/a') }}{{ i }}.jpg" alt=""/></a>

                    <div class="blog-grids">
                        <div class="blog-grid-left">
                            <!-- <img src="images/b6.jpg" alt="" /> -->

                        </div>


                        <div class="clearfix"></div>
                    </div>
                    <div class="blog-grids">
                        <div class="blog-grid-left">
                            <!-- <img src="images/b5.jpg" alt="" /> -->
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                {% if i == 3 or i == 6 or i == 8%}
                <div class="clearfix"></div>
                {% endif %}
                {% endfor %}
        <!-- post -->
        <div class="post">
            <h3>Latest Posts</h3>
            <div class="post-grids">
                <div class="col-md-4 post-left">
                    <img src="{{ asset('AppBundles/image/p1.jpg') }}" alt=""/>
                </div>
                <div class="col-md-8 post-right fullwidth-left">

                    <p class="text">Search for knowledge, read more, sit on your front porch and admire the view without
                        paying attention to your needs. 寻找更多的知识，多读一些书，坐在你家的前廊里，以赞美的眼光去享受眼前的风景，不要带上任何功利的想法</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="post-grids">
                <div class="col-md-4 post-left">
                    <img src="{{ asset('AppBundles/image/p2.jpg') }}" alt=""/>
                </div>
                <div class="col-md-8 post-right fullwidth-left">

                    <p class="text">Friendship isn't about whom you've known the longest, it's about who came, and never
                        left your side.——朋友不是那个你认识得最久的人，而是那个来到你身边后便不再离开的人。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="post-grids">
                <div class="col-md-4 post-left">
                    <img src="{{ asset('AppBundles/image/p3.jpg') }}" alt=""/>
                </div>
                <div class="col-md-8 post-right">

                    <p class="text">Travel the greatest benefit, not to see how many people, see more beautiful scenery,
                        but walked, in a fate, suddenly find
                        themselves.旅行最大的好处，不是见到多少人，见过多美的风景，而是走着走着，在一个际遇下，突然重新认识了自己。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="post-grids">
                <div class="col-md-4 post-left">
                    <img src="{{ asset('AppBundles/image/p4.jpg') }}" alt=""/>
                </div>
                <div class="col-md-8 post-right">

                    <p class="text">当你看清一个人而不揭穿，你就懂得了原谅的意义； 讨厌一个人而不翻脸，你就懂得了至极的尊重。活着，总有你看不惯的人，也有看不惯你的人。</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //post -->
    </div>
    <!-- //banner-bottom-left -->
    <div class="up-arrow">
        <a class="scroll" href="#home">Back to Top</a>
    </div>
</div>
<!-- //banner-bottom-grids -->
 {%- endblock -%}